<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
  {{ range .Inner | transform.Unmarshal }}
    <div class="hx-group hx-flex hx-justify-between hx-items-center hx-overflow-hidden hx-rounded-lg hx-border hx-border-gray-200 dark:hx-border-neutral-800 p-6 text-center mb-8" style="margin-bottom: 10px; display: flex;">
      
      <!-- Content Section -->
      <div style="flex: 1; margin-right: 10px;">
        <!-- Header Section: Title -->
        <div style="margin-left: 15px; margin-top: 5px;">
          <h3 class="text-xl font-bold mb-3">{{ .title }}</h3>
        </div>

        <!-- Description -->
        <p class="text-gray-600 mb-4" style="margin-left: 15px; margin-top: 5px;">{{ .description }}</p>

        <!-- Links Section -->
        <div class="flex flex-col">
          <div style="margin-left: 15px; margin-top: 5px;">
            📚 <a href="{{ .learn }}" style="margin-bottom: 10px;" class="text-primary-600 hover:underline">Learn More</a>
          </div>
          <div style="margin-left: 15px; margin-top: 5px; margin-bottom: 10px;">
            💻 <a href="{{ .exercise }}" class="text-green-600 hover:underline">{{ .exercise_label }}</a>
          </div>
        </div>
      </div>

      <!-- Image Section -->
      <div>
        {{ if .image }}
        <div class="w-20 h-20 flex-shrink-0" style="margin-left: 10px;">
          <img src="{{ .image }}" width="150px" alt="Logo" class="object-contain w-full h-full" />
        </div>
        {{ end }}
      </div>

    </div>
  {{ end }}
</div>