{{ $tipsSection := .Site.GetPage "section" "about/tips" }}

<!-- Get unique tags -->
{{ $tags := slice }}
{{ range $tipsSection.Pages }}
  {{ range .Params.tags }}
    {{ if ne . "tips" }}
      {{ $tags = $tags | append . }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $uniqueTags := uniq $tags }}

<!-- List available tags --> 
<div class="mb-4">
  <span class="font-bold mr-2">Filter by tag:</span>
  {{ range $uniqueTags }}
    <button onclick="filterByTag('{{ . }}')" class="">{{ . }}</button>
  {{ end }}
  <button onclick="showAll()" class="">All</button>
</div>

<!-- List articles -->
<ul id="articles-list">
  {{ range $tipsSection.Pages }}
    <li class="article-item mb-2" 
        data-tags="{{ range .Params.tags }}{{ if ne . "tips" }}{{ . }} {{ end }}{{ end }}">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ with .Params.tags }}
        <span class="text-gray-500 text-sm ml-2">[
          {{- $comma := "" -}}
          {{- range . -}}
            {{- if ne . "tips" -}}
              {{- $comma -}}{{- . -}}
              {{- $comma = ", " -}}
            {{- end -}}
          {{- end -}}
        ]</span>
      {{ end }}
    </li>
  {{ end }}
</ul>

<!-- Filtering code -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    window.filterByTag = function(tag) {
        const items = document.getElementsByClassName('article-item');
        Array.from(items).forEach(item => {
            const itemTags = item.getAttribute('data-tags').trim().split(' ');
            if (itemTags.includes(tag)) {
                item.style.display = '';
            } else {
                item.style.display = 'none';
            }
        });
    };

    window.showAll = function() {
        const items = document.getElementsByClassName('article-item');
        Array.from(items).forEach(item => {
            item.style.display = '';
        });
    };
});
</script>